# Token HuggingFace - requis uniquement si la diarisation est activee dans l'UI
# 1. Creez un token sur https://huggingface.co/settings/tokens
# 2. Acceptez les licences :
#    - https://huggingface.co/pyannote/speaker-diarization-3.1
#    - https://huggingface.co/pyannote/segmentation-3.0
# 3. Copiez ce fichier en .env et renseignez votre token
HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
